:root {
    --subtitle-color: #000000;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --paragraph-bg-color: #f5f2fe;
    --button-color: #606470;
  }
  
  .content {
    max-width: 820px;
    height: 520px;
    margin: 0px auto;
    margin-top: 70px;
  }
  
  h1,
  h2,
  h3 {
    margin: 0px !important;
  }
  
  h1, h3 {
    font-size: 35px !important;
  }
  
  h2 {
    font-size: 95px !important;
  }
  
  .greetings {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0px auto;
    font-family: Inter, sans-serif;
    font-weight: bold;
  }
  
  #dev-owner {
    line-height: 90px;
  }
  #dev-title {
    color: var(--subtitle-color);
  }
  
  a {
    border-radius: 5px;
    text-decoration: none !important;
  }
  
  .navigation-links {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
  }
  
  #contact-me-nav-link:hover {
    background-color: white;
    color: var(--button-color);
    border: 1px solid var(--button-color);
    transition: ease-in-out 300ms;
  }
  
  #about-me-nav-link {
    background-color: white;
    color: var(--button-color);
    border: 1px solid var(--button-color);
    padding: 20px;
  }
  
  #contact-me-nav-link {
    background-color: var(--button-color);
    box-shadow: var(--box-shadow);
    color: white;
    border: 1px solid var(--button-color);
    padding: 20px;
  }
  
  #about-me-nav-link:hover {
    color: white;
    border: 1px solid var(--button-color);;
    background-color: var(--button-color);
    transition: ease-in-out 300ms;
  }
  
  .content-color {
    background-color: var(--paragraph-bg-color);
  }
  
  h4 {
    font-size: 48px !important;
  }
  
  .button-color {
    background-color: var(--button-color) !important;
  }
  